@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: Custom;
    src: url("font.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 1px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    width: 250px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: #000000;
}

.card-content {
    text-align: center;
    color: #333;
}


.navbar {
    width: 100%;
    background-color: #333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar .judul {
    font-size: 1.5rem;
    font-family: Custom;
    font-weight: bold;
    /* letter-spacing: 5px; */
}

.navbar .nav-links {
    display: flex;
    list-style: none;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.sidebar {
    width: 250px;
    background-color: #dddddd;
    height: 100%;
    position: fixed;
    left: 0;
    top: 58px;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.content {
    margin-left: 250px;
    margin-top: 60px;
    padding: 20px;
    width: calc(100% - 250px);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #4CAF50;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.aksi {
    display: flex;
    gap: 10px;
}

.btn-edit,
.btn-hapus,
.btn-tambah {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-edit {
    background-color: #4CAF50;
    color: white;
}

.btn-hapus {
    background-color: #f44336;
    color: white;
}

.btn-tambah {
    background-color: #2196F3;
    color: white;
    margin-bottom: 10px;
    display: inline-block;
}

h2 {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}